body{height:100%;overflow-x:hidden;width:100%!important;box-sizing:border-box;font-family:Roboto,sans-serif;margin:0;padding:0;background-color:#fff;font-size:13px}
a{color:#000;text-decoration:none}
a:active{color:red}
a:visited{color:#000}
#header{float:left;width:100%;background:#bf0000}
#header #title{padding:5px;font-size:20px;float:left;color:#fff;text-shadow:3px 3px 3px #4d4d4d}
#menu_work{float:left;width:100%;padding:0;margin:0;background-color:#8c1515;list-style:none;color:#fff;font-size:11px}
#menu_work li{float:left;padding:5px}
#menu_work li:hover{background-color:#000}
#menu_work li a{color:#fff;float:left}
#menu_work li a img{float:left;margin-right:3px}
#menu_work li a .name{float:left}
#body{width:100%;float:left}
#body #page_contain{float:left;padding:10px}
#body .box_country{width:300px;float:left;margin:3px;background-color:#ffcbb3;padding:2px;box-shadow:3px 3px 3px #8f8f8f}
#body .box_country.active{background-color:#fefdd8}
.box_country .header{background-color:#f3837c;float:left;width:100%}
.box_country .body{float:left;padding:10px}
#body .box_country.active .header{background-color:#d5e9fd}
.box_country .header .icon{float:left}
.box_country .header .title{float:left;margin-left:4px;margin-top:5px}
#menu{float:left;width:100%;background-color:#ffcbb3;margin:0;list-style:none;padding:0}
#menu li{float:left;padding:5px}
.box_form{float:left;min-width:300px;background-color:#ffe8dd;border:solid 3px #ffbc9b;margin:5px;padding:3px}
.box_form .row{float:left;width:100%;margin-top:3px;margin-bottom:3px}
table{border-collapse:collapse;float:left;width:100%}
td,th{text-align:left;padding:2px}
tr:nth-child(even){background-color:#f2f2f2}
table th{background-color:#ffe4c3;color:#000;font-size:13px;padding:5px}
.alert{float:left;width:100%}
.alert .msg{float:left;padding:3px;box-shadow:3px 3px 3px #b2b2b2;border-radius:3px;width:auto;margin:3px}
.alert .msg.alert{background-color:#ff8}
.alert .msg.error{background-color:#ff6262}
.alert .msg.info{background-color:#a4d1ff}
#menu_cms.menu{background-color:#ffcac6!important}