
cache/
app_mygirl/obj_background/
app_mygirl/obj_preson/
app_mygirl/obj_effect/
app_mygirl/obj_radio/
app_mygirl/obj_skin/
app_mygirl/obj_view_3d/
app_mygirl/obj_head/
app_mobile/bible/data/
app_mobile/sheep/music/
app_mobile/flower/sound/