
cache/
product_data/
phpqrcode/
app_mygirl/obj_background/
app_mygirl/obj_preson/
app_mygirl/obj_effect/
app_mygirl/obj_radio/
app_mygirl/obj_skin/
app_mygirl/obj_view_3d/
app_mygirl/obj_head/
app_mobile/bible/data/
app_mobile/sheep/music/
app_mobile/flower/sound/
app_mobile/work/cache/

app_mygirl/app_my_girl_vi/
app_mygirl/app_my_girl_msg_vi/
app_mygirl/app_my_girl_vi_img/
app_mygirl/app_my_girl_vi_user/
app_mygirl/app_my_girl_temp_vi/

app_mygirl/app_my_girl_en/
app_mygirl/app_my_girl_msg_en/
app_mygirl/app_my_girl_en_img/
app_mygirl/app_my_girl_en_user/
app_mygirl/app_my_girl_temp_en/

app_mygirl/app_my_girl_es/
app_mygirl/app_my_girl_msg_es/
app_mygirl/app_my_girl_es_img/
app_mygirl/app_my_girl_es_user/
app_mygirl/app_my_girl_temp_es/

app_mygirl/app_my_girl_pt/
app_mygirl/app_my_girl_msg_pt/
app_mygirl/app_my_girl_pt_img/
app_mygirl/app_my_girl_pr_user/
app_mygirl/app_my_girl_temp_pr/