const.php
cache/
product_data/
phpqrcode/
app_mygirl/obj_background/
app_mygirl/obj_preson/
app_mygirl/obj_effect/
app_mygirl/obj_radio/
app_mygirl/obj_skin/
app_mygirl/obj_view_3d/
app_mygirl/obj_head/
app_mobile/bible/data/
app_mobile/sheep/music/
app_mobile/flower/sound/
app_mobile/work/cache/

app_mygirl/app_my_girl_vi/
app_mygirl/app_my_girl_msg_vi/
app_mygirl/app_my_girl_vi_img/
app_mygirl/app_my_girl_vi_user/
app_mygirl/app_my_girl_temp_vi/

app_mygirl/app_my_girl_en/
app_mygirl/app_my_girl_msg_en/
app_mygirl/app_my_girl_en_img/
app_mygirl/app_my_girl_en_user/
app_mygirl/app_my_girl_temp_en/

app_mygirl/app_my_girl_es/
app_mygirl/app_my_girl_msg_es/
app_mygirl/app_my_girl_es_img/
app_mygirl/app_my_girl_es_user/
app_mygirl/app_my_girl_temp_es/

app_mygirl/app_my_girl_pt/
app_mygirl/app_my_girl_msg_pt/
app_mygirl/app_my_girl_pt_img/
app_mygirl/app_my_girl_pt_user/
app_mygirl/app_my_girl_temp_pr/

app_mygirl/app_my_girl_fr/
app_mygirl/app_my_girl_msg_fr/
app_mygirl/app_my_girl_fr_img/
app_mygirl/app_my_girl_fr_user/
app_mygirl/app_my_girl_temp_fr/

app_mygirl/app_my_girl_hi/
app_mygirl/app_my_girl_msg_hi/
app_mygirl/app_my_girl_hi_img/
app_mygirl/app_my_girl_hi_user/
app_mygirl/app_my_girl_temp_hi/

app_mygirl/app_my_girl_zh/
app_mygirl/app_my_girl_msg_zh/
app_mygirl/app_my_girl_zh_img/
app_mygirl/app_my_girl_zh_user/
app_mygirl/app_my_girl_temp_zh/

app_mygirl/app_my_girl_ru/
app_mygirl/app_my_girl_msg_ru/
app_mygirl/app_my_girl_ru_img/
app_mygirl/app_my_girl_ru_user/
app_mygirl/app_my_girl_temp_ru/

app_mygirl/app_my_girl_de/
app_mygirl/app_my_girl_msg_de/
app_mygirl/app_my_girl_de_img/
app_mygirl/app_my_girl_de_user/
app_mygirl/app_my_girl_temp_de/

app_mygirl/app_my_girl_th/
app_mygirl/app_my_girl_msg_th/
app_mygirl/app_my_girl_th_img/
app_mygirl/app_my_girl_th_user/
app_mygirl/app_my_girl_temp_th/

app_mygirl/app_my_girl_ko/
app_mygirl/app_my_girl_msg_ko/
app_mygirl/app_my_girl_ko_img/
app_mygirl/app_my_girl_ko_user/
app_mygirl/app_my_girl_temp_ko/

app_mygirl/app_my_girl_ja/
app_mygirl/app_my_girl_msg_ja/
app_mygirl/app_my_girl_ja_img/
app_mygirl/app_my_girl_ja_user/
app_mygirl/app_my_girl_temp_ja/

app_mygirl/app_my_girl_ar/
app_mygirl/app_my_girl_ar/
app_mygirl/app_my_girl_msg_ar/
app_mygirl/app_my_girl_ar_img/
app_mygirl/app_my_girl_ar_user/
app_mygirl/app_my_girl_temp_ar/

app_mygirl/app_my_girl_tr/
app_mygirl/app_my_girl_msg_tr/
app_mygirl/app_my_girl_tr_img/
app_mygirl/app_my_girl_tr_user/
app_mygirl/app_my_girl_temp_tr/

app_mygirl/app_my_girl_fi/
app_mygirl/app_my_girl_msg_fi/
app_mygirl/app_my_girl_fi_img/
app_mygirl/app_my_girl_fi_user/
app_mygirl/app_my_girl_temp_fi/

app_mygirl/app_my_girl_it/

app_mobile/appai/AssetBundles

