    body,html{
        margin: 0px;
        padding: 0px;
        font-family: Roboto,arial,sans-serif;
        font-size: 12px;
        overflow-x:no-display;
    }
    a{
        text-decoration: none;
        color:#400080;
    }
    a:hover{
        color: #8000FF;
    }
    .box_lang{
        display: inline-block;
        width: auto;
        float: left;
        min-width: 200px;
        max-width: 330px;
        border: solid 2px #A8D3FF;
        margin: 5px;
        border-bottom-right-radius: 10px;
        background-color: #D7EBFF;
    }
    .box_lang .title{
        background-color: #A8D3FF;
        width:100%;
        float: left;
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .box_lang .title .icon{
        width: 60px;
        float: left;
        display: inline-block;
        margin-right: 10px;
    }
    
    .box_lang .body{

        float: left;
        font-size: 13px;
        padding: 3px;
    }
    
    .box_lang .table_contain{
        width: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
        height: 200px;
    }
    .box_lang .table_contain table{
        font-size: 7px;
    }
#bk_login{
    position: fixed;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    background-color: #000000e3;
    z-index: 200;
} 

#frm_login{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: solid 3px #D4D4D4;
    padding: 10px;
    margin-top: 100px;
    height: 170px;
}
    
.box_user{
    float: left;
    background-color: #464848;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
}
.box_user span{
    width: 80%;
    margin: 2px;
    font-size: 9px;
}
.box_user .name{
    font-weight: bold;
    color: yellow;
}
.box_user .address{
    color:#fee395;
}
.box_user .phone{
    color:#fee395;
}

.box_user img{
    float: left;
    margin-right: 5px;
}
.box_info{
    background-color: #ddf6ff;
    padding: 20px;
    margin-top: 32px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 2px #c3c3c3;
}

.box_icon{
    float: left;
    width: 96px;
    height: 102px;
    text-align: center;
    border: solid 2px #a8e0ff;
    border-radius: 5px;
    margin: 3px;
    background-color: #f7ffff;
}
.box_icon img{
    margin-bottom: 3px;
    width:64px;
}

.box_icon .color{
    width: 10px;
    height: 10px;
    color: black;
    float: right;
    background-color: #a562e8;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #3c3c3c;
    margin: 2px;
}
#box_select{
    
}
.box_fiel_chat_item{
    margin: 3px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #6f6868eb;
    height: 46px;
}
.box_fiel_chat_item .col{
    width: 10%;
    float: left;
    display: inline-block;
    margin-left: 3px;
    text-align: center;
    align-content: center;
}
.box_fiel_chat_item .col label,.box_fiel_chat_item .col input{
    width: 100%;
    float: left;
    display:block;
}
.box_fiel_chat_item input {
    width: auto;
    margin: 2px;
    padding: 2px;
    display: inline-block;
}

#menu_child_home{
    background-color: #F3F3F3;
    padding-top: 3px;
    font-size: 9px;
    padding-bottom: 3px;
    line-height: 17px;
}

#menu_child_home a{
    background-color: #E2E2E2;
    border-radius: 3px;
    border: solid 2px #D3D3D3;
    float: left;
    margin: 2px;
    color: black;
    padding: 3px;
}
#menu_child_home a:hover{
    background-color: #CEFFFF;
}
#menu_child_home a img{
    float: left;
    margin-right: 3px;
}
.sub_menu{
    float: left;
    display: none;
    position: absolute;
    width: 200px;
}

.sub_menu li{
    width:100%;
    background-color: black;
}

#menu_page{
    float: left;
    width: 100%;
}
#menu_page li{
    float: left;
}

audio{
    width: 238px !important;
}
    table{
        background-color: #EBEBEB;
        width: 100%;
        border-collapse: collapse;
    }
    table tr td{
        padding: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 0px;
        font-size: 11px;
    }
    
    table tr th {
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    font-size: 12px;
    background-color: #4ea1e4;
    text-shadow: 2px 2px 2px #423a3a;
    padding: 7px;
    }
    table tr:nth-child(even) {background-color: #f2f2f2}
    table tr:hover td{
        background-color: #FFFF9B;
    }
    
    .sweet-alert {
        width: 100% !important;
        margin-left: 0px !important;
        left: 0px !important;
    }
    
#frm_seach{
    width: 100%;
    float: left;
    background-color: #d8ecff;
    margin: 0px;
}

#frm_seach .col{
    float: left;
    padding: 6px;
}
.body ul li a:hover{
    color:red;
}

#inp_edit_answer,#inp_edit_question{
    display: block !important;
    width: 100%;
    
}

.tag_brain{
    width: 95%;
    background-color: black;
    color: white;
    padding: 2px;
    margin: 2px;
    float: left;
    border-radius: 3px;
}
.tag_brain_data{
    float: left;
    width: 100%;
    padding: 3px;
}
.box_feel_music{
    background-color: black;
    float: left;
    text-align: center;
    padding: 7px;
    border-radius: 20px;
    margin: 3px;
    color:white;
}
    
    #menu{
        position: fixed;
        z-index: 100;
        float: left;
        width: 100%;
        background-color: #121212;
        margin: 0px;
        padding: 0px;
        font-size: 11px;
        font-family: "Segoe UI",Arial,sans-serif;
    }
    #menu li{
        float: left;
        display: inline-block;
    }
    #menu li.active{
        background-color: #4CAF50;
    }
    #menu li a{
        color: white;
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        text-decoration: none;
    }
    #menu li a:hover{
        color: #0080FF !important;
    }
    .tip{
        background-color: #FEFDC5;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
        float: left;
        display: block;
        border-radius: 8px;
        box-shadow:  3px 3px 3px #ccc;
    }
    input,textarea,select{float: left;width: 100%;}
    .key_func{float: left;margin: 3px;background-color: #E1E1E1;border-radius: 3px;padding: 3px;cursor: pointer;}
    
    h2{
        float: left;
        margin: 8px;
        width: 90%;
    }
    
    .link_button{
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px #20538D;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        background: #4479BA;
        color: #FFF;
        padding: 8px 12px;
        text-decoration: none;
        display: inline-block !important;
    }
    
    .link_button.small{
        padding: 5px;
        font-size: 12px;
        margin: 5px;
    }
    
    ul{
        list-style: none;
    }
    
    #form_loc{
        float: left;
        padding: 10px;
        border: solid 2px #6edfff;
        border-radius: 10px;
        margin: 5px;
        background-color: #d8f5ff;
        box-shadow: 3px 3px 3px #dde2d4;
    }
    
    #form_loc label{
        margin: 2px;
    }
    
    .ui-front {
    z-index: 100000 !important;
    }
    
.new {
    background-color: red;
    -webkit-animation-name: example_new; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example_new;
    animation-duration: 4s;
}

.show_alert{
    display: block;
    float: left;
    width: 99%;

}
.show_alert div{
    padding: 5px;
    margin: 3px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 3px 3px 3px #dde2d4;
    float: left;
}

.show_alert .alert{
    background-color: #e3ff37;
}

.show_alert .info{
    background-color: #FDF4B9;
}

.show_alert .error{
    background-color: #FFBBBB;
}


.box_tool{
    float: left;
    padding: 2px;
    border-radius: 5px;
    margin:10px;
    border: solid 2px white;
    width: 300px;
}

.box_tool:hover{
    cursor: pointer;
    background-color: #EEEEEE;
    border: solid 2px #dadada;
}

.box_tool i{
    font-size: 35px;float: left;margin: 5px;
}

.body{
    padding: 10px;
    float: left;
}

#box_upload{
    position: fixed;
    bottom: 10px;
    background-color: #DADADA;
    border: solid 3px gray;
    display: none;
    padding: 10px;
}

#box_upload #title{
    background-color: #DADADA;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select {
    border: solid 1px #cfcfcf;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 4px;
    box-sizing: border-box;
    width: 100%;
}
select {
    margin-bottom:0px;
    margin-top: 0px;
    padding: 0px;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example_new {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example_new {
    from {background-color: red;}
    to {background-color: yellow;}
}

.tag_data_syn{
    background: #2cfd2c;
    padding: 4px;
    margin: 3px;
    border-radius: 11px;
    font-size: 10px;
	cursor: pointer;position: absolute;
	color: black;
    text-shadow: none;
}
.tag_data_syn.lost{background-color: red;}
.tag_data_syn.colon{background-color: #f9a804;}


.tag_remove_key_music{
	float: left;
	margin: 6px;
	margin-right: 3px;
    background-color: #c9e4ff;
    padding: 5px;
    border-radius: 6px;
}