<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://carrotstore.com/product_data/130/Unity-iPhone.ipa</string>
		<key>displayImageURL</key>
		<string>https://carrotstore.com/product_data/130/iconsmall.png</string>
		<key>fullSizeImageURL</key>
		<string>https://carrotstore.com/product_data/130/icon.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.carrotstore.ailover</key>
		<string>Test Ai lover</string>
	</dict>
	<key>signingCertificate</key>
	<string>FF48212A7A812A0B68AB8D5698EC7DA4CCF1DF4C</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>9QHM5UKB7X</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
