body{
    background-image:url('../images/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 140%;
    font-size: 12px;
}
a{
    color:#007EC3;
    text-decoration: none;
    
}
.hr{
    border:  solid 1px gray;
    width: 80%;
    display: block;
}

a:hover{
    color:red;
}
label{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}

#form_login_admin{
    width:300px;
    margin-left: 40%;
    margin-right: 45%;
    margin-top: 10%;
    padding: 10px;
    border: solid 3px #FFB997;
    background-color: #FFEFD9;
}

#form_login_admin .frm_row{float: left;width: 100%;margin: 3px;}
#form_login_admin .frm_row label{width: 100%;float: left;}
#form_login_admin .frm_row .inp{width:95%;float: left;}

.alert{
    float: left;width:100%;
}
.alert .msg{
    float: left;padding:3px;box-shadow: 3px 3px 3px #B2B2B2;border-radius: 3px;width: auto;margin: 3px;
}
.alert .msg.alert{
    background-color: #FFFF88;
}
.alert .msg.error{
    background-color: #FF6262;
}
.alert .msg.info{
    background-color: #A4D1FF;
}

.tablePro th {
    background-color: white;
    color: #000000;
    padding: 10px 5px 10px 10px;
    font-size: 11px;
}

.tablePro th, .tablePro td {
   border: 1px solid #d4d4d4;
    padding: 2px 2px;
    text-align: left;
    vertical-align: middle;
}

.tablePro, .tablePro.tecspec {

    width: 100%;
}
.tablePro tr:nth-child(2n+1) {
    background-color: #f1f1f1;
}
.tablePro tr:nth-child(2n) {
    background-color: #ffffff;
}
.tablePro tr.fixzebra {
    background-color: #f1f1f1;
}
.tablePro th {
    background-color: #555555;
    border: 1px solid #555555;
    color: #ffffff;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

#header{
    float: left;
    width: 100%;
	background: linear-gradient(-45deg,#b50202,#ff93e3,#dca3ff,#ffd7c1,#ffcf52,#fff);
}

#logo{
    float: left;
    margin: 8px;
    width: 115px;
    margin-top: 12px;
}

form{
    float: left;
}

.active{
    background-color: red;
}

#bar_menu{
    background-color: #F77878;
    width:100%;
    float: left;
    border-bottom: solid 4px red;
}



#bar_menu a{
    padding: 10px;
    color:black;
    float: left;
    text-decoration: none;
    font-weight: bold;
}

#bar_menu .active{
    color: white;
}

#bar_menu_sub{
    background-color: red;
    width:100%;
    float: left;
}

#bar_menu_sub a{
    padding: 7px;
    color:yellow;
    float: left;
    text-decoration: none;
}

#bar_menu_sub a.active{
    color:white;
    font-weight: bold;
}



table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #AD6FD5;
    color: white;
}
tr:nth-child(even) {background-color: white}

.app{
    width: 260px;
    height: 200px;
    float: left;
    background-color: white;
    margin: 4px;
    -webkit-box-shadow: 1px 1px 1px gray;
    -moz-box-shadow: 1px 1px 1px gray;
    box-shadow: 1px 1px 1px gray;
        -webkit-transition: all 1s;
    transition: all 1s;
}

.menu_app .app_title{
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg ); 
}

.menu_app{
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg ); 
}
.error{
    color:red;
    font-weight: bold;
}

.alert{
    color:green;
    font-weight: bold;
}

#info_account{
    float: right;
    margin-top: 3px;
    margin-right: 8px;
}

#info_account .username,#info_account .action{
    margin-left: 8px;
}

.login_avatar{
    width: 30px;
    float: left;
    border: solid 1px gray;
}


#form_upload{
    top: 10%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    padding: 5px;
    position: fixed;
    float: none;
    z-index: 9999;
    display: none;
}

#bk_black{
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(87, 187, 13, 0.61);
    position: fixed;
    z-index: 5;
    display: none;
}

#show_eror{
    color:red;
    font-weight: bold;
    font-size: 14px;
    background-color: yellow;
    display: inline-block;
    display: none;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px gray;
}

.not_null{
    color: #F00;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin-top: 6px;
    position: absolute;
    margin-left: 5px;
}

.file{
    color:white;
    font-size: 13px;
    background-color: green;
    display: inline-block;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px gray; 
}

.row{
   width: 100%;
   float: left; 
}

.col1{
    width: 100%;
    float: left;
}

.col2{
    width: 45%;
    float: left;
}

.inp{
    width: 100%;
    border: solid 2px #C7C7C7;
    padding: 3px;
}

.group{
    width: 100%;
    border: solid 2px #CDCDCD;
}
.group .title{
    background-color: #CDCDCD;
    padding: 3px;
    color: black;
}

.group .content{
    background-color: #D8FEA5;
    padding: 8px;
}

.nicEdit-main{
    background-color: white;
}

#filter{
    float: left;
    width: 100%;
    background-color: #000040;
    color:white;
    top: 30px;
}
#filter strong{
    padding: 5px;
    float: left;
}

#filter span,#filter a{
    padding: 5px;
    float: left;
    cursor: pointer;
    color:white;
}

#filter #search{
    height: 14px;
    border: solid 1px black;
    margin-top: 4px;
    width: 300px;
    padding: 2px;
}
#form_login{
    float: right;
     margin-top: 6px;
     margin-right: 4px;
     margin-bottom: 4px;
}

#form_login .inp{
    border: 2px solid green;
    padding: 2px;
    width: auto;
}

#tool_search{
    float: left;
    margin-top: 16px;
}

#tool_search .inp{
    border: solid 3px #C7C7C7;
    float: left;
    width: 300px;
    padding: 6px;
    -webkit-transition: all 1s;
    transition: all 1s;
background-image: url("images/search.png");
background-repeat: no-repeat;
background-position: right center;
}

#tool_search .inp:hover{
    transition: padding 1s;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: right top;
}

#tool_search .btn{
    border: solid 3px #C7C7C7;
    float: left;
    margin-left: 5px;
    -webkit-transition: padding 1s;
    transition: padding 1s;
    font-size: 21px;
    color: gray;
}
#tool_search #proccess
{
    display: none;
    float: left;
    margin: 8px;
    font-weight: bold;
    color: rgb(5, 87, 110);
}

#containt{
    float: left;
    width: 100%;
}

.show_menu_mini{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.price{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.free{
    background-color: green;
    color:white;
    padding: 1px;
    border: none;
    margin: 5px;
    float: left;
    font-size: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.add_img_icon{
    background-image: url('images/picture_add.png') !important;
    background-size: contain !important;
}

.tag_download{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

#list_map{
    position: absolute;
    top:220px;
    left: 10px;
    width: 210px;
    border: solid 2px black;
    background-color: rgba(255, 255, 255, 0.95);
    height: 350px;
    z-index: 9999;
    overflow-y: auto;
    overflow-x: hidden;
}
#list_map .app_list{
    float: left;
    width: 100%;
    border-bottom: dashed 1px gray;
    cursor: pointer;
}
#list_map .app_list:hover{
    background-color: #FEEC85;
}

#go_top{
    position: fixed;
    bottom: 10px;
    right: 15px;
    background-color: green;
    padding: 10px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: none;
}

#go_top:hover{
    background-color: red;
    color: yellow;
}

#loading{
    float: left;
    background-color: orange;
    color: white;
    padding: 8px;
    margin: 6px;
    float: right;
    min-width: 150px;
    margin-right: 10px;
    position: fixed;
    top:210px;
    right: 0px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    display: none;
}

#shopping_cart:hover,#sell_product:hover,#add_place:hover{
    color: yellow;
    background-color: green;
    -webkit-transition: all 1s; 
    -moz-transition: all 1s; 
    -o-transition: all 1s; 
    transition: all 1s ; 
}

#sell_product{
    float: left;
    background-color: #FF8000;
    color: white;
    padding: 8px;
    margin: 6px;
    float: right;
    min-width: 150px;
    margin-right: 10px;
    margin-right: 6px;
	min-height: 49px;
}

.order_level1{
    background-color: #00BF00;
    color: black;
    padding: 10px;
}

.order_level2{
    background-color: yellow;
    color: black;
    padding: 10px;
}

.order_level3{
    background-color: #0080FF;
    color: black;
    padding: 10px;
}

.order_level4{
    background-color: orange;
    color: black;
    padding: 10px;
}


.file_item{
	float: left;
	margin: 2px;
	border: solid 1px darkgray;
	background-color: white;
	width: 250px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.file_item img{
	float: left;
	margin-right: 3px;
}

.file_item .user{
	font-weight: bold;
	width: 145px;
	display: inline-block;
}

.item_answer{
	background-color: #ecfafa;
	border: solid 1px #d3d3d3;
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius:4px;
	padding: 2px;
	margin: 1px;
}

.item_answer .close{
	float: right;
}

.box{
    background-color: white;
    width: 300px;
    float: left;
    margin: 5px;
    border-radius: 6px;
    padding: 3px;
    box-shadow:1px 1px 1px #dedede;
}

.tag_data_syn{
    background: #2cfd2c;
    padding: 4px;
    margin: 3px;
    border-radius: 11px;
    font-size: 10px;
	cursor: pointer;position: absolute;
	color: black;
    text-shadow: none;
}
.tag_data_syn.lost{background-color: red;}
.tag_data_syn.colon{background-color: #f9a804;}
.tag_data_syn.check{background-color: #00d9ff;}

#menu_work{ float: left;list-style: none;width: 100%;background-color: #ff8303;padding: 0px;margin: 0px;}
#menu_work li{float: left;margin: 2px;padding: 4px;}
#menu_work a{color: black;}
#menu_work a img{float: left;margin-right:2px;}
#menu_work a .name{margin-top: 2px;float: left;}