*,body,html{margin:0;padding:0;font-family:Roboto,arial,sans-serif;font-size:12px;overflow-x:no-display;overflow-y:no-display}
.box_lang{border:solid 1px #0ca2cd;background-color:#4dcef4;float:left;width:320px;margin:3px;padding:10px}
.box_lang img{float:left;width:30px;margin-right:3px}
.box_lang .table_value{height:200px;overflow-y:scroll;width:100%;overflow-x:hidden}
.box_lang p{margin-top:10px;margin-bottom:10px;line-height:20px}
#menu_home{float:left;width:100%;background:#2062a4;border:#004080;padding:5px;font-size:13px;list-style:none;padding-left:0;padding-right:0}
#menu_home li{float:left;margin:2px;color:#fff;margin-left:10px}
#menu_home li a{color:#fff;text-decoration:none}
#menu_home li.active a{color:#00ffdc;font-weight:700}
.button{background-color:#ff8000;padding:5px;margin:5px;border-radius:5px;border:solid 1px #f07800;cursor:pointer}
.button2{cursor:pointer;border-radius:2px;text-decoration:none;color:orange}
table{background-color:#ebebeb;width:100%;border-collapse:collapse}
table tr td{padding:5px;padding-top:2px;padding-bottom:2px;margin:0;font-size:11px}
table tr th{background-color:#0ca2cd;color:#fff}
table tr:nth-child(even){background-color:#f2f2f2}
table tr:hover td{background-color:#ffff9b}
#frm_add{width:600px;float:left;margin:2px;padding:3px;background-color:#7ee2ff;border:solid 3px #0ca2cd;padding:5px}
#frm_add input,#frm_add select,#frm_add textarea{width: 100% !important;}
#frm_add textarea{padding: 5px;}
#frm_add p{margin:3px;margin-bottom:8px}
a{text-decoration:none;color:#000;display:inline-block}
a:active,a:hover{color:red}
span{font-weight:700;color:#00f;background:#fff;padding:2px;border-radius:10px}
.show_user{width:100%;background-color:#c0ebfa;box-shadow:2px 2px 2px #c3c3c3;float:left}
.show_user img{float:left;margin-right:3px}
#menu_cms.menu{background-color:#8fd6ff!important}